<header class="bannerback">
    <h1>BackOffice</h1>
</header>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
            <ul class="navbar-nav menusuperior">
                <li class="nav-item">
                    <a class="nav-link menuLink active" aria-current="page" href="/">Ingreso Pedido</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menuLink" href="pedidos">Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menuLink" href="Oficinas">Oficinas</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Equipos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="equipos">Modelos</a></li>
                        <li><a class="dropdown-item" href="marcas">Marcas</a></li>
                        <li><a class="dropdown-item" href="tipos">Tipos</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>