<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Biblio de Software</title>
</head>

<body>
    {{>navbar}}

    <section>
        <div class="card m-5">
            <img src="images/aboutUS.jpg" class="card-img-top" alt="logo área">
            <div class="card-body">
                <h5 class="card-title">Sobre Nosotros</h5>
                <p class="card-text">
                    En el Área Soporte Nivel 3, nos enfocamos en mejorar los procesos de reparaciones e instalaciones de
                    software, lo que incluye las siguientes tareas generales:
                </p>
                <ul class="list-group tareassoporte">
                    <li class="list-group-item">Confeción, actualización y corrección de errores de imagenes master</li>
                    <li class="list-group-item">Testeos de nuevo software y drivers</li>
                    <li class="list-group-item">Recopilación de licencias de software de todos los modelos de máquinas,
                        necesarias para pcs utilizadas por usuarios finales (Word, Windows, Autocad, otros)</li>
                    <li class="list-group-item">Investigaciones relacionadas con software e imagenes master (errores,
                        mejoras, otros)</li>
                    <li class="list-group-item">Confección de tutoriales relacionados con los puntos antes mencionados
                    </li>
                </ul>
            </div>
        </div>
    </section>

    {{>footer}}
</body>


</html>