<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Biblio de Software</title>
</head>

<body>
 
    {{>navbar}}
        <section class="container uploads p-5 justify-content-center">
    <h4>Servidor FTP</h4>
    <div class="row">
        <!--Tutoriales y Docs-->
        <div class="card p-0 col-12 col-sm-6 col-md-4 col-xl-3 mb-2">
            <a href="#" class="btn">
                <div class="text-center m-3">
                    <img src="images/tutosydocs.png" class="card-img-top imagenCard"
                        alt="tutoriales y documentos" />
                    <div class="card-body">
                        <h5 class="card-title text-center">Tutos y docs</h5>
                    </div>
                </div>
            </a>
        </div>
        <!--Firma digital-->
        <div class="card p-0 col-12 col-sm-6 col-md-4 col-xl-3 mb-2">
            <a href="#" class="btn">
                <div class="text-center m-3">
                    <img src="images/firmadigital.png" class="card-img-top imagenCard" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title text-center">Firma digital</h5>
                    </div>
                </div>
            </a>
        </div>
        <!--Creación pendrive Masterizado-->
        <div class="card p-0 col-12 col-sm-6 col-md-4 col-xl-3 mb-2">
            <a href="#" class="btn">
                <div class="text-center m-3">
                    <img src="images/iconopendrivemaster.png" class="card-img-top imagenCard"
                        alt="pendrive masterizado" />
                    <div class="card-body">
                        <h5 class="card-title text-center">Pendrive Masterizado</h5>
                    </div>
                </div>
            </a>
        </div>
        <!--Imagenes/Master-->
        <div class="card p-0 col-12 col-sm-6 col-md-4 col-xl-3 mb-2">
            <a href="#" class="btn">
                <div class="text-center m-3">
                    <img src="images/iconoWindows.png" class="card-img-top imagenCard" alt="Icono Windows" />
                    <div class="card-body">
                        <h5 class="card-title text-center">Imagenes Master</h5>
                    </div>
                </div>
            </a>
        </div>
        <!--Software-->
        <div class="card p-0 col-12 col-sm-6 col-md-4 col-xl-3 mb-2">
            <a href="#" class="btn">
                <div class="text-center m-3">
                    <img src="images/iconoSoftware.png" class="card-img-top imagenCard" alt="logo software" />
                    <div class="card-body">
                        <h5 class="card-title text-center">Software</h5>
                    </div>
                </div>
            </a>
        </div>
        <!--Drivers-->
        <div class="card p-0 col-12 col-sm-6 col-md-4 col-xl-3 mb-2">
            <a href="#" class="btn">
                <div class="text-center m-3">
                    <img src="images/drivers.png" class="card-img-top imagenCard" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title text-center">Drivers</h5>
                    </div>
                </div>
            </a>
        </div>
        <!--Office-->
        <div class="card p-0 col-12 col-sm-6 col-md-4 col-xl-3 mb-2">
            <a href="#" class="btn">
                <div class="text-center m-3">
                    <img src="images/MicrosoftOffice.png" class="card-img-top imagenCard" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title text-center">Office</h5>
                    </div>
                </div>
            </a>
        </div>
        <!--Configuraciones-->
        <div class="card p-0 col-12 col-sm-6 col-md-4 col-xl-3 mb-2">
            <a href="#" class="btn">
                <div class="text-center m-3">
                    <img src="images/Configuraciones.png" class="card-img-top imagenCard"
                        alt="icono Configuraciones" />
                    <div class="card-body">
                        <h5 class="card-title text-center">Configuraciones</h5>
                    </div>
                </div>
            </a>
        </div>
        <!--Utilidades Soporte-->
        <div class="card p-0 col-12 col-sm-6 col-md-4 col-xl-3 mb-2">
            <a href="#" class="btn">
                <div class="text-center m-3">
                    <img src="images/utilidadessoporte.png" class="card-img-top imagenCard" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title text-center">Utilidades Soporte Técnico</h5>
                    </div>
                </div>
            </a>
        </div>
        <!--Reparación de errores-->
        <div class="card p-0 col-12 col-sm-6 col-md-4 col-xl-3 mb-2">
            <a href="#" class="btn">
                <div class="text-center m-3">
                    <img src="images/erroresrepair.png" class="card-img-top imagenCard" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title text-center">Reparación de Errores</h5>
                    </div>
                </div>
            </a>
        </div>
        <!--Otros-->
        <div class="card p-0 col-12 col-sm-6 col-md-4 col-xl-3 mb-2">
            <a href="#" class="btn">
                <div class="text-center m-3">
                    <img src="images/otros.png" class="card-img-top imagenCard" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title text-center">Otros</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
    {{>footer}}
</body>


</html>