<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Biblio de Software</title>
</head>

<body>
 
    {{>navbar}}
    <!-- *************************************Uploads**************************************************
    <section class="container uploads p-5 justify-content-center">
        <h4>Ultimos uploads</h4>
        <div class="row">
            <div class="card p-0 col-12 col-md-6 col-xl-3 mb-2">
                <div class="text-center m-3">
                    <img src="./images/iconoWindows.png" class="card-img-top imagenCard" alt="Icono Windows" />
                    <div class="card-body">
                        <h5 class="card-title text-center">Software</h5>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#" class="btn">Un Software</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn">Otro software</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn">Un Software</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn">Otro software</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn">Un Software</a>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="./pages/software.html" class="btn btn-info">Ir a "Ir a Software"</a>
                </div>
            </div>
            <div class="card p-0 col-12 col-md-6 col-xl-3 mb-2">
                <div class="text-center m-3">
                    <img src="./images/iconoSoftware.png" class="card-img-top imagenCard" alt="logo software" />
                    <div class="card-body">
                        <h5 class="card-title text-center">Imagenes/Master</h5>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#" class="btn">Win10 asrock generica</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn">Win7x86 Generica modelox</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn">Win7x64 Generica modelox</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn">Win10 bangho generica</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn">Win10 asus generica</a>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="./pages/imgwindows.html" class="btn btn-info">Ir a "Ir a Imagenes/Master"</a>
                </div>
            </div>
            <div class="card p-0 col-12 col-md-6 col-xl-3 mb-2">
                <div class="text-center m-3">
                    <img src="./images/iconoDocumentos.jpg" class="card-img-top imagenCard" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title text-center">Tutos y docs</h5>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#" class="btn">Un documento</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn">Un documento</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn">Un documento</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn">Un documento</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn">Un documento</a>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="./pages/tutosydocs.html" class="btn btn-info">Ir a "Tutos y docs"</a>
                </div>
            </div>
            <div class="card p-0 col-12 col-md-6 col-xl-3 mb-2">
                <div class="text-center m-3">
                    <img src="./images/iconoDocumentos.jpg" class="card-img-top imagenCard" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title text-center">Drivers</h5>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#" class="btn">Un Driver</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn">Un Driver</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn">Un Driver</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn">Un Driver</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn">Un Driver</a>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="./pages/drivers.html" class="btn btn-info">Ir a "Drivers"</a>
                </div>
            </div>
        </div>
    </section> -->

    <!--*******************************Noticias**********************************************-->
    <section class="container uploads p-5 justify-content-center">
        <h4>Ultimas Noticias</h4>
        <div class="row">
            <div class="card p-0 col-12 col-md-6 col-xl-3 mb-2">
                <img src="http://lorempixel.com/400/200/technics" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Noticia 2</h5>
                    <h6 class="card-subtitle text-muted">Fecha</h6>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-info">Leer</a>
                </div>
            </div>
            <div class="card p-0 col-12 col-md-6 col-xl-3 mb-2">
                <img src="http://lorempixel.com/400/200/technics" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Noticia 2</h5>
                    <h6 class="card-subtitle text-muted">Fecha</h6>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-info">Leer</a>
                </div>
            </div>
            <div class="card p-0 col-12 col-md-6 col-xl-3 mb-2">
                <img src="http://lorempixel.com/400/200/technics" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle text-muted">Fecha</h6>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-info">Leer</a>
                </div>
            </div>
            <div class="card p-0 col-12 col-md-6 col-xl-3 mb-2">
                <img src="http://lorempixel.com/400/200/technics" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle text-muted">Fecha</h6>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-info">Leer</a>
                </div>
            </div>
        </div>
    </section>
    <!--****************************Footer************************************************************-->
    {{>footer}}

</body>

</html>