<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Biblio de Software</title>
</head>

<body>
    {{>navbar}}
    <!--****************************Contenido************************************************************-->
    <section class="container p-2 justify-content-center text-align-center">
        <h4>Ultimas Noticias</h4>
        <div class="container justify-content-center m-2">
            {{#each posts}}
            <div class="card m-2">
                <img src="{{feature_image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">
                        {{{html}}}
                    </p>
                    <a href="{{url}}" class="btn btn-primary">Ir al post original</a>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
    <!--****************************Footer************************************************************-->
    {{>footer}}
</body>

</html>