<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Biblio de Software</title>
</head>

<body>
    {{>navbar}}

    <section class="container justify-content-center">
        <div class="m-5">
            {{!-- <img src="images/aboutUS.jpg" class="card-img-top" alt="logo área"> --}}
            
            <form action="/office" method="post" class="w-50 justify-content-center">
                <div class="mb-3">
                    <label for="elusuario" class="form-label">Usuario</label>
                    <input type="text" class="form-control" name="elusuario" aria-describedby="usuarioHelp">
                </div>
                <div class="mb-3">
                    <label for="lapassword" class="form-label">Password</label>
                    <input type="password" class="form-control" name="lapassword">
                </div>
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
        </div>
    </section>

    {{>footer}}
</body>


</html>