*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Header y nav*/
.banner{
    display: flex;
    background-image: url("../images/computerIT.png");
    height: 20rem;
    background-color:black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner::before{
    background-color: rgba(0, 0, 0, 0.37);
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
}

h1{
    font-size: 2.5rem;
    color: whitesmoke;
    z-index: 1;
}

nav{
    padding: 20px;
    justify-content: center;
    background-color: rgb(236, 236, 236);
    border: 1px solid;
    box-shadow: 2px 5px 9px #888888;
} 

.menusuperior a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.2rem;
    font-size: 1.2em; 
}

.menuLink:hover{
        color: cornflowerblue;
        padding: 1rem;
        box-shadow: 2px 5px 9px #888888;
}
.irArriba{
    padding: 0;
    margin: 0;
    width: 3rem;
    height: 3rem;
}
#btnIrArriba {
    background: transparent;
    display: none; 
    width: 3rem;
    height: 3rem;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 99; 
    border:none;
    cursor:pointer; 
    border-radius: 10px; 
    font-size: 1rem; 
    transition: transform linear 100ms;
  }
  
  #btnIrArriba:hover {
    transform: scale(1.1);
  }

/*****************************************************************************************************/
/*Esto ya es el body*/

.coomingSoon{
    background-image: url("../images/comingsoon.jpg");
    height: 50rem;
    background-color:black;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.card a{
    transition: transform linear 100ms;
}
.card a:hover{
    transform: scale(1.1);
}

.tareassoporte li {
    position: relative;
    padding-left: 5rem;
  }
  
 .tareassoporte li:before {
    content: '';
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    background-image: url("../images/iconos_sueltos/pendriveUSB.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%); 
   
  } 


/*****************************************************************************************************/
.imagenCard{
    width: 8rem;
}

/*****************************************************************************************************/
/*Pie de pagina*/

.imagenLogo{
    width: 2rem;
    height: 2rem;
} 
.imagenMaps{
    width: 2rem;
    height: 3rem;
} 
.logoBiblio{
    width: 3rem;
    height: 3rem;
}
.mapa{
    width: 15rem;
    height: 12rem;
    margin-bottom: 1rem;
}