*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Header y nav*/
.banner{
    display: flex;
    background-image: url("../images/imgheader.jpg");
    height: 20rem;
    background-color:black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner::before{
    background-color: rgba(0, 0, 0, 0.37);
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
}

h1{
    font-size: 2.5rem;
    color: whitesmoke;
    z-index: 1;
}

nav{
    padding: 20px;
    justify-content: center;
    background-color: rgb(236, 236, 236);
    border: 1px solid;
    box-shadow: 2px 5px 9px #888888;
} 

.menusuperior a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.2rem;
    font-size: 1.2em; 
}

.menuLink:hover{
        color: cornflowerblue;
        padding: 1rem;
        box-shadow: 2px 5px 9px #888888;
}

/*****************************************************************************************************/
/*Esto ya es el body*/

/*****************************************************************************************************/
.imagenCard{
    width: 8rem;
}

/*****************************************************************************************************/
/*Pie de pagina*/

.imagenLogo{
    width: 2rem;
    height: 2rem;
} 
.imagenMaps{
    width: 2rem;
    height: 3rem;
} 
.logoBiblio{
    width: 3rem;
    height: 3rem;
}